.splash-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 4em;
}
.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small {
    font-size: 0.5em;
}

.smaller {
    font-size: 0.3em;
}